/* Container Styling */
.container {
    max-width: 80%;
    padding: 200px;
    /* background-color: #877373; لون خلفية أفتح قليلاً من الأحمر الداكن */
    color: #050505; /* نص أبيض */
}

/* Table Styling */
.table {
    background-color: #fcfbfa; /* نفس لون النافبار */
    color: #070707; /* نص أبيض */
    border: 1px solid #d14949; /* حدود بلون أفتح */
}
.table tbody tr td {
    color: #070707; /* اللون الأبيض للنص */
}
.white-text {
    color: #0d0d0d;
}
.page-title {
    color: #0a0a0a; /* لون النص أبيض */
}
/* Button Styling */
.btn-primary {
    background-color: #b33b3b; /* لون أحمر متوسط */
    color: #ffffff; /* نص أبيض */
    border: none;
}

.btn-warning {
    background-color: #f5b700; /* لون ذهبي */
    color: #ffffff; /* نص أبيض */
    border: none;
}

.btn-danger {
    background-color: #8c0303; /* نفس لون النافبار */
    color: #ffffff; /* نص أبيض */
    border: none;
}
.btn-view {
    background-color: #8c0303; /* لون الخلفية */
    color: #ffffff; /* لون النص */
    border: none; /* إزالة الحدود */
    border-radius: 5px; /* زوايا دائرية */
    padding: 5px 10px; /* مسافات داخلية */
    font-weight: bold; /* جعل النص عريضًا */
    transition: all 0.3s ease; /* تأثير الانتقال */
}

.btn-view:hover {
    background-color: #7a7676; /* لون الخلفية عند التمرير */
    color: #f8f9fa; /* لون النص عند التمرير */
    transform: scale(1.05); /* تكبير الزر قليلاً عند التمرير */
}

/* Alert */
.alert {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f5b700; /* خلفية ذهبية */
    color: #8c0303; /* نص أحمر داكن */
    border: 1px solid #b33b3b; /* حدود بلون أحمر متوسط */
}

/* Navbar Styling */
.nav {
    background-color: #8c0303; /* لون خلفية أحمر داكن */
    color: #ffffff; /* نص أبيض */
    padding: 0 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #6e0202; /* حدود متناسقة أغمق */
}

.nav a {
    color: #ffffff; /* نص أبيض */
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.nav a:hover {
    color: #f5b700; /* لون ذهبي عند التمرير */
}
