body {
    background-image: url('/storage/app/public/images/789.jpg');
    background-size: cover; /* تغطية كاملة للشاشة */
    background-position: center; /* تمركز الخلفية */
    background-repeat: no-repeat; /* منع التكرار */
    background-attachment: fixed; /* تثبيت الخلفية */


}

/* تعطيل خلفيات إضافية للصفحات المحددة */
.bg-gray-100,
.dark\:bg-gray-900 {
    background: none !important; /* تعطيل أي خلفية أخرى */
}
